{% extends "base.html" %} {% load static %}

{% block head_title %} Tweet {% endblock head_title %}
{% block content %}
<div class="container py-5">
<div>
    <h2 class="text-center">Welcome to Tweet<span style="color:red; text-decoration: underline; font-family:cursive;">O</span></h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto col-10">
            <div class="d-none alert alert-danger" id="form-error"></div>
            <form  id ="tweet_form" method="post" action="/create-tweet/"> 
                {% csrf_token %}    
                <input type="hidden" value="/" name="next">
                <textarea placeholder="Your tweet ..."class="form-control" name="content" > </textarea>
                <button class="btn btn-info btn-sm mt-2">Tweet</button>
            </form>
        </div>
    </div>
    
</div>
<div class="row">
    <p id="tweets">Content Loading...</p>
</div>


<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


    var errorDiv = document.getElementById('form-error')

    function formErrorHandler(msg, display){
        if(display === true){
            // display error 
            errorDiv.setAttribute("class", "d-block alert alert-danger")
            errorDiv.innerText = msg
        }else{
            // no error, hide div
            errorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }
    var form = document.getElementById('tweet_form')

    function createTweetForm(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
            const responseType ="json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload  = function(){
            if(xhr.status === 201){
                const newTweet = xhr.response
                // const newTweetJson =JSON.parse(newTweet) 
                const tweetedElement = formatTweetElements(newTweet)
                const ogHTML = tweetsContainer.innerHTML
                tweetsContainer.innerHTML = tweetedElement + ogHTML
                myForm.reset()
            }else if(xhr.status === 400){
                const errorJson = xhr.response
                console.log(errorJson)
                const contentError = errorJson.content
                let contentErrorMsg;
                if(contentError){
                    contentErrorMsg = contentError[0]
                    if(contentErrorMsg){
                        formErrorHandler(contentErrorMsg, true)
                    }else{
                        alert("An error occurred, please try again")
                    }
                }else{
                    alert("An error occurred, please try again!")
                }
            }else if (xhr.status === 401){
                const errorJson = xhr.response
                alert("You must login first")
                window.location.href="/login"
            } else if(xhr.status === 403){
                alert("You must login first")
            }else if(xhr.status = 500){
                alert("There was an server error, please try again")
            }
    }
    xhr.onerror = function(){
        alert("An error occurred, please try again!")
    }
    xhr.send(myFormData)
    }

    form.addEventListener('submit', createTweetForm)
    var tweetsContainer = document.getElementById("tweets")
    function loadTweets(tweetsElements){
        const xhr = new XMLHttpRequest()
        const method ="GET"
        const url ="/tweets"
        const responseType ="json"
        xhr.responseType = responseType
        xhr.open(method, url, true)
        xhr.onload  = function(){
        var jsonResponse = xhr.response
        serverResponse = xhr.response
        listedItems = serverResponse
       var finalTweets =""
       var i;
       for(i=0; i<listedItems.length; i++){
           var tweetObj =listedItems[i]
        var currentItem = formatTweetElements(tweetObj)

           finalTweets += currentItem
       }
       tweetsElements.innerHTML = finalTweets
        }
        xhr.send()  
    }
   
    loadTweets(tweetsContainer)

    function likeHandler(tweet_id, currentCount, action){
        
        console.log(tweet_id, currentCount, action)
        url ="/api/tweets/action"
        method ="POST"
        data = JSON.stringify({
            id:tweet_id,
            action:action
        })

        xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken');
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", 'application/json')
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("x-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", csrftoken )
        xhr.onload = function(){
            console.log(xhr.status, xhr.response)
        }
        xhr.send(data)


    }
    function retweetBtn(tweet){
        return "<button class='btn btn-outline-success btn-sm' onclick=likeHandler(" + tweet.id +"," + tweet.likes +",'retweet')> <i class='fa fa-retweet'> </i> </button>"
    }
    function unlikeBtn(tweet){
        return "<button class='btn btn-outline-primary btn-sm' onclick=likeHandler(" + tweet.id +"," + tweet.likes +",'unlikes')> <i class='fa fa-thumbs-o-down'> </i> </button>"
    }
    function likeBtn(tweet){
        return "<button class='btn btn-primary btn-sm' onclick=likeHandler(" + tweet.id +"," + tweet.likes +",'likes')>" + tweet.likes + "     <i class='fa fa-thumbs-o-up'> </i> </button>"
    }
    function formatTweetElements(tweet){
        var formatedTweet =  "<div class='col-12 border mb-3' tweet_id='" + tweet.id +"'>" + 
            "<p class='m-2 br-3'>" + tweet.content + "</p>" + 
            "<div class='btn-group m-3'>" + likeBtn(tweet)+
                unlikeBtn(tweet)+
                  retweetBtn(tweet)+
                "</div>"  + 
            "</div>"
        return formatedTweet
    }

</Script>
</div>
{% endblock content %}

